.articles {
    margin-top: 1rem;
}
.articles__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.article {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.article:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.article__info {
    padding: 2rem;
}

.article__info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}
